body {
    width: 100%;
    height: 100%;
}
.menu-principal{
    width: 100%;
    background-color: #797d86;
    height: 60px;
}
main {
    width: 980px;/*largura*/
    position: relative;
    margin: 0 auto;

}
.logo1 {
    width: 123px;
    padding: 5px;
}
.fto {
    width: 150px;
    margin-top: 5%;
}
div .row {
    margin-right: 10px;
}
.col {
    margin-left: 20px;
}
.col2 {
    margin-right: 30%;
    margin-top: 5px;
}
.row {
    margin-top: 5%;
}
.h3-col2 {
    font: italic bold 26px arial, sans-serif
}