.barra{
    background-color: lightgray;
    padding: 0;
    width: 100%;
}
.menu{
    position: absolute;
    right: 0;
}
.image{
    width: 100px;
}
.fto{
    width: 250px;
}
.container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 800px;
}